.olaf-login-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.olaf-login-container > md-card {
  width: 350px;
  padding: 0px;
}

.olaf-login-container > md-card > form {
  padding: 30px;
}

.olaf-login-container .olaf-input-content {
  padding: 5px 0;
}

.olaf-login-container .olaf-input-content md-input-container {
  width: 100%;
}

.olaf-login-container .olaf-login-button {
  margin-top: 15px;
}