<div class="olaf-login-container">
  <md-card>
    <md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>
    <form [formGroup]="loginForm">
      <div class="olaf-input-content">
        <md-input-container>
          <input mdInput placeholder="Email" type="email" formControlName="email"/>
        </md-input-container>
      </div>
      <div class="olaf-input-content">
        <md-input-container>
          <input mdInput placeholder="Mot de passe" type="password" formControlName="password"/>
        </md-input-container>
      </div>
      <div class="olaf-input-content txtcenter olaf-login-button">
        <button md-raised-button color="primary" [disabled]="!loginForm.valid" (click)="login()">Valider</button>
      </div>
    </form>
  </md-card>
</div>