<md-grid-list cols="3" rowHeight="16:9" class="olaf-weather-content">
  <md-grid-tile>
    <md-card *ngIf="indoorTemp" class="olaf-weather-display">
      <md-card-title>Intérieur</md-card-title>
      <div>{{ indoorTemp.label }}</div>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card *ngIf="outdoorTemp" class="olaf-weather-display">
      <md-card-title>Extérieur</md-card-title>
      <div>{{ outdoorTemp.label }}</div>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card *ngIf="outdoorTemp" class="olaf-weather-display">
      <md-card-title>Pression</md-card-title>
      <div>{{ pressure.label }}</div>
    </md-card>
  </md-grid-tile>
</md-grid-list>

 <md-card *ngIf="tempChartOptions && (indoorTemp || outdoorTemp)" class="olaf-chart">
  <chart [options]="tempChartOptions" (load)="saveTempChart($event.context)"></chart>
</md-card>

 <md-card *ngIf="pressureChartOptions && pressure" class="olaf-chart">
  <chart [options]="pressureChartOptions" (load)="savePressureChart($event.context)"></chart>
</md-card>

