<div [hidden]="loading">
  <md-grid-list cols="3" rowHeight="16:9" class="olaf-weather-content" gutterSize="20px">
    <md-grid-tile *ngIf="indoorTemp" class="olaf-weather-display">
      <div class="mat-display-1">{{ indoorTemp.label }}</div>
      <md-grid-tile-footer>Intérieur</md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile *ngIf="outdoorTemp" class="olaf-weather-display">
      <div class="mat-display-1">{{ outdoorTemp.label }}</div>
      <md-grid-tile-footer>Extérieur</md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile *ngIf="outdoorTemp" class="olaf-weather-display">
      <div class="mat-display-1">{{ pressure.label }}</div>
      <md-grid-tile-footer>Pression</md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>

  <div class="olaf-weather-chart-content">
    <md-card *ngIf="tempChartOptions" class="olaf-weather-chart">
      <chart [options]="tempChartOptions" (load)="saveTempChart($event.context)"></chart>
    </md-card>
    
    <md-card *ngIf="pressureChartOptions" class="olaf-weather-chart">
      <chart [options]="pressureChartOptions" (load)="savePressureChart($event.context)"></chart>
    </md-card>
  </div>
</div>

<div class="olaf-component-loader" [hidden]="!loading">
  <md-spinner></md-spinner>
</div>


