<div [hidden]="loading">
  <md-grid-list cols="3" rowHeight="16:9" class="olaf-weather-content" gutterSize="20px">
    <md-grid-tile *ngIf="indoorTemp" class="olaf-weather-display">
      <div class="olaf-weather-display-title">{{ indoorTemp.label }}</div>
      <md-grid-tile-footer>Intérieur</md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile *ngIf="outdoorTemp" class="olaf-weather-display">
      <div class="olaf-weather-display-title">{{ outdoorTemp.label }}</div>
      <md-grid-tile-footer>Extérieur</md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile *ngIf="outdoorTemp" class="olaf-weather-display">
      <div class="olaf-weather-display-title">{{ pressure.label }}</div>
      <md-grid-tile-footer>Pression</md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>

  <md-card class="olaf-weather-dates-content">
    <form [formGroup]="datesForm">
      <md-form-field>
        <input mdInput [mdDatepicker]="pickerStart" formControlName="startDate" [max]="todayDate" placeholder="Date de début">
        <md-datepicker-toggle mdSuffix [for]="pickerStart"></md-datepicker-toggle>
        <md-datepicker #pickerStart></md-datepicker>
      </md-form-field>
      <md-form-field>
        <input mdInput [mdDatepicker]="pickerEnd" formControlName="endDate" [max]="todayDate" placeholder="Date de fin">
        <md-datepicker-toggle mdSuffix [for]="pickerEnd"></md-datepicker-toggle>
        <md-datepicker #pickerEnd></md-datepicker>
      </md-form-field>
      <button md-raised-button color="primary" [disabled]="!datesForm.valid" (click)="searchWeather()">Valider</button>
    </form>
  </md-card>

  <div class="olaf-weather-chart-content" [hidden]="emptyWeathers">
    <md-card *ngIf="tempChartOptions" class="olaf-weather-chart">
      <chart [options]="tempChartOptions" (load)="saveTempChart($event.context)"></chart>
    </md-card>
    
    <md-card *ngIf="pressureChartOptions" class="olaf-weather-chart">
      <chart [options]="pressureChartOptions" (load)="savePressureChart($event.context)"></chart>
    </md-card>
  </div>
</div>

<div class="olaf-component-loader" [hidden]="!loading">
  <md-spinner></md-spinner>
</div>


