.olaf-login-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 350px;
    padding: 0;

    form {
      padding: 30px;

      mat-form-field {
        width: 100%;
      }

      :last-child {
        margin-top: 10px;
      }
    }
  }
}
