<div class="olaf-login-container">
  <mat-card>
    <form novalidate [formGroup]="loginForm" (submit)="login()">
      <div class="olaf-input-content">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email"/>
        </mat-form-field>
      </div>
      <div class="olaf-input-content">
        <mat-form-field>
          <input matInput type="password" placeholder="Mot de passe" formControlName="password"/>
        </mat-form-field>
      </div>
      <div class="olaf-input-content txtcenter">
        <button mat-raised-button color="primary">Valider</button>
      </div>
    </form>
  </mat-card>
</div>
