<div class="olaf-applications-content">
  <app-application url="https://files.sylvain-castaing.fr" title="Fichiers" image="assets/images/applications/files.png" imgAlt="File Station"></app-application>
  <app-application url="https://audio.sylvain-castaing.fr" title="Musiques" image="assets/images/applications/audio.png" imgAlt="Audio Station"></app-application>
  <app-application url="https://nas.sylvain-castaing.fr" title="Administration NAS" image="assets/images/applications/dsm.png" imgAlt="DSM"></app-application>
  <app-application url="https://download.sylvain-castaing.fr" title="Téléchargements" image="assets/images/applications/download.png" imgAlt="Download Station"></app-application>
  <app-application url="https://video.sylvain-castaing.fr" title="Vidéos" image="assets/images/applications/video.png" imgAlt="Video Station"></app-application>
</div>
