<div class="olaf-applications-content">
  <md-card>
    <md-card-header>
      <md-card-title><h2 color="primary"><a color="primary" href="https://files.sylvain-castaing.fr" title="Fichiers" target="_blank">Fichiers</a></h2></md-card-title>
    </md-card-header>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title><h2 color="primary"><a color="primary" href="https://audio.sylvain-castaing.fr" title="Musiques" target="_blank">Musiques</a></h2></md-card-title>
    </md-card-header>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title><h2 color="primary"><a color="primary" href="https://nas.sylvain-castaing.fr" title="Nas WEB" target="_blank">Nas WEB</a></h2></md-card-title>
    </md-card-header>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title><h2 color="primary"><a color="primary" href="https://download.sylvain-castaing.fr" title="Téléchargements" target="_blank">Téléchargements</a></h2></md-card-title>
    </md-card-header>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title><h2 color="primary"><a color="primary" href="https://video.sylvain-castaing.fr" title="Vidéos" target="_blank">Vidéos</a></h2></md-card-title>
    </md-card-header>
  </md-card>
</div>