<div class="olaf-applications-content">
  <a href="https://files.sylvain-castaing.fr" title="Fichiers" target="_blank">
    <md-card class="txtcenter">
      <md-card-header>
        <md-card-title>Fichiers</md-card-title>
      </md-card-header>
      <img md-card-md-image src="assets/images/applications/files.png" alt="File Station" md-card-image>
    </md-card>
  </a>
  <a href="https://audio.sylvain-castaing.fr" title="Musiques" target="_blank">
    <md-card class="txtcenter">
      <md-card-header>
        <md-card-title>Musiques</md-card-title>
      </md-card-header>
      <img md-card-md-image src="assets/images/applications/audio.png" alt="Audio Station" md-card-image>
    </md-card>
  </a>
  <a href="https://nas.sylvain-castaing.fr" title="Administation NAS" target="_blank">
    <md-card class="txtcenter">
      <md-card-header>
        <md-card-title>Administration NAS</md-card-title>
      </md-card-header>
      <img md-card-md-image src="assets/images/applications/dsm.png" alt="DSM" md-card-image>
    </md-card>
  </a>
  <a href="https://download.sylvain-castaing.fr" title="Téléchargements" target="_blank">
    <md-card class="txtcenter">
      <md-card-header>
        <md-card-title>Téléchargements</md-card-title>
      </md-card-header>
      <img md-card-md-image src="assets/images/applications/download.png" alt="Download Station" md-card-image>
    </md-card>
  </a>
  <a href="https://video.sylvain-castaing.fr" title="Vidéos" target="_blank">
    <md-card class="txtcenter">
      <md-card-header>
        <md-card-title>Vidéos</md-card-title>
      </md-card-header>
      <img md-card-md-image src="assets/images/applications/video.png" alt="Video Station" md-card-image>
    </md-card>
  </a>
</div>