<div md-dialog-title>
  <md-toolbar color="primary">
    <span>Changement de mot de passe</span>
  </md-toolbar>
</div>
<div md-dialog-content>
  <form [formGroup]="changePasswordForm">
      <div class="olaf-input-content">
        <md-input-container>
          <input mdInput placeholder="Ancien mot de passe" type="password" formControlName="oldPassword"/>
        </md-input-container>
      </div>
      <div class="olaf-input-content">
        <md-input-container>
          <input mdInput placeholder="Nouveau mot de passe" type="password" formControlName="newPassword"/>
        </md-input-container>
      </div>
      <div class="olaf-input-content">
        <md-input-container color="warn">
          <input mdInput placeholder="Confirmer le nouveau mot de passe" type="password" formControlName="confirmNewPassword"/>
        </md-input-container>
      </div>
      <div class="olaf-input-content txtcenter olaf-login-button">
        <button md-raised-button color="primary" [disabled]="!changePasswordForm.valid" (click)="changePassword()">Valider</button>
      </div>
    </form>
</div>