/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  overflow: hidden;

  body {
    height: 100%;
    margin: 0;

    app-root {
      display: flex;
      flex-direction: column;
      height: 100%;

      .router-content {
        overflow: auto;
      }
    }
  }
}

[hidden] {
  display: none !important;
}

.txt-center {
  text-align: center;
}

