/* You can add global styles to this file, and also import other style files */
html, body, app-root, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

app-root > md-sidenav-container {
  flex: 2;
}

/**
* Géneric class
**/
[hidden] {
  display: none !important;
}

.txtcenter {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.olaf-input-content {
  padding: 5px 0;
}

.olaf-input-content md-input-container {
  width: 100%;
}

md-dialog-container, [md-dialog-title] {
  padding: 0 !important;
  margin: 0;
}

md-dialog-container [md-dialog-content] {
  margin: 24px;
}